{% extends 'layouts/base.html.twig' %}

{% block title %}
  Identifiez-vous
{% endblock %}

{% block body %}
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg" style="max-width: 650px; width: 100%; border-radius: 12px;">
      <div class="card-header text-center text-white" style="border-radius: 12px 12px 0 0;">
        <h2 class="mb-0">Connexion</h2>
      </div>

      <div class="card-body p-4">
        <section class="">
          <div class="container_fuild">
            <div class="row">
              <div class="col-md-12">
                <div class="full text-center">
                  <h3 class="mt-2">Identifiez-vous</h3>
                  <hr style="width: 40%; margin: 10px auto;" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="why_section layout_padding mt-3">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 offset-lg-2">
                <div class="full">
                  {% if error %}
                    <div class="alert alert-danger text-center mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}

                  <form method="post">
                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus />

                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" id="password" autocomplete="current-password" required />

                    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}" />

                    <input type="submit" value="Continuer" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
{% endblock %}
